.jqconsole-ansi-bold {
  font-weight: bold!important;
}

.jqconsole-ansi-lighter {
  font-weight: lighter!important;
}

.jqconsole-ansi-italic {
  font-style: italic!important;
}

.jqconsole-ansi-underline {
  text-decoration: underline!important;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-ms-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-o-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.jqconsole-ansi-blink {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
}

.jqconsole-ansi-blink-rapid {
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -ms-animation-name: blinker;
  -o-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -ms-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
}


.jqconsole-ansi-hidden {
  visibility:hidden!important;
}

.jqconsole-ansi-line-through {
  text-decoration: line-through;
}

.jqconsole-ansi-fonts-1 {

}
.jqconsole-ansi-fonts-2 {

}
.jqconsole-ansi-fonts-3 {

}
.jqconsole-ansi-fonts-4 {

}
.jqconsole-ansi-fonts-5 {

}
.jqconsole-ansi-fonts-6 {

}
.jqconsole-ansi-fonts-7 {

}
.jqconsole-ansi-fonts-8 {

}
.jqconsole-ansi-fonts-9 {

}

.jqconsole-ansi-fraktur {

}

.jqconsole-ansi-color-black {
  color: black!important;
}
.jqconsole-ansi-color-red {
  color: red!important;
}
.jqconsole-ansi-color-green {
  color: green!important;
}
.jqconsole-ansi-color-yellow {
  color: yellow!important;
}
.jqconsole-ansi-color-blue {
  color: blue!important;
}
.jqconsole-ansi-color-magenta {
  color: magenta!important;
}
.jqconsole-ansi-color-cyan {
  color: cyan!important;
}
.jqconsole-ansi-color-white {
  color: white!important;
}

.jqconsole-ansi-background-color-black {
  background-color: black!important;
}
.jqconsole-ansi-background-color-red {
  background-color: red!important;
}
.jqconsole-ansi-background-color-green {
  background-color: green!important;
}
.jqconsole-ansi-background-color-yellow {
  background-color: yellow!important;
}
.jqconsole-ansi-background-color-blue {
  background-color: blue!important;
}
.jqconsole-ansi-background-color-magenta {
  background-color: magenta!important;
}
.jqconsole-ansi-background-color-cyan {
  background-color: cyan!important;
}
.jqconsole-ansi-background-color-white {
  background-color: white!important;
}

.jqconsole-ansi-framed {
  border: 1px solid!important;
}
.jqconsole-ansi-overline {
  text-decoration: overline!important;
}

/** CUSTOM **/
.console-container{
  position: relative;
}
.jqconsole-btn{
  position: absolute;
  top: 10px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 29px;
  width: 100px;
  font-size: 15px;
  color: rgb(118, 119, 119);
  border: 1px solid rgb(118, 119, 119);
  outline: 0px;
  background: transparent;
  cursor: pointer;
  margin-left: 0px;
  line-height: 10px;
  z-index: 10;
}
.jqconsole-btn:hover{
  color: rgb(14, 22, 40);
  background: rgb(118, 119, 119);
}
#console {
  min-height: 100%;
  width: 100%;
  position:relative;
}
#console * {
  font-family: monospace !important;
  font-size: 14px !important;
}
.jqconsole {
    overflow-x: hidden;
    background: rgb(14, 22, 40);
    padding: 15px 15px;
    color: #F4FFFF;
    display: block;
    font-family: monospace !important;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 100%;
}

.jqconsole-cursor {
    background: #666;
    line-height: 115%;
    margin-right: -8px;
    color: transparent;
    display: inline;
    z-index: 0;
    position: absolute;
    width: 9px;
    height: 15px;
    margin-top: 2px;
}
.jqconsole-old-prompt {
  color: #F60;
  font-weight: 700;
}
.jqconsole-blurred .jqconsole-old-prompt{
  color: #B41;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.string {
  color: #98c379;
}
.jqconsole-composition {
  background-color: red;
}
.jqconsole-prompt{
  color: #FC0;
  font-weight: 700;
}
.jqconsole-blurred {
    color: #C4CCCC;
}
.jqconsole-error{
  color: #F06;
}
.jqconsole-header{
  color: #888;
}
.jqconsole-blurred .jqconsole-header{
  color: #777;
}
.jqconsole-blurred .jqconsole-error{
  color: #B14;
}
.jqconsole-blurred .jqconsole-prompt{
  color: #B91;
}
.jqconsole-blurred .jqconsole-cursor{
  background: #333;
}

.jqconsole-cursor { 
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-duration: 1s;
  display: inline-block;
  box-shadow: 0 0 10px rgba(white,.3);
  background: yellow;
}

@keyframes blinker { 
  from { opacity: 1.0; } to { opacity: 0.0; }
}
