.editor-container {
    width: 50%;
    height: 100%;
}

.editor-container > .editor-controls {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.editor-container > .editor-controls > .editor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 29px;
    width: 118px;
    font-size: 15px;
    font-family: Questrial;
    color: rgb(118, 119, 119);
    border: 1px solid rgb(237, 237, 237);
    outline: 0px;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    margin: 0 auto;
    line-height: 10px;
}

.editor-container > .editor-controls > .editor-btn:hover {
    color: rgb(121, 151, 165);
}    

.editor-container > .editor-controls > .editor-btn > .fa {
    margin-left: 5px;
}

.editor-container > .editor {
    height: calc(100% - 40px);
    width: 100%;    
}
